@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.view_list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.view_list img {
  height: 50px;
  width: auto;
}

.view_module {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.view_module img {
  height: 200px;
  width: auto;
}
